<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Radionator{% endblock %}</title>

    {% load static %}
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}"/>
</head>
<body>
    <div class="title">Welcome to Radionator</div>

    {% include 'common/navbar.html' %}
        <div id='body-content'>

        <hr/>
        {% include 'common/messages.html' %}

        {% block content %}
        {% endblock %}

        <hr style='width: 50%;'/>
        </div>
    <hr/>

    {% include "common/cookie_block.html" %}
    {% include 'common/footer.html' %}

    <script src = "{% static 'javascript/player.js' %}"></script>
    <script src = "{% static 'javascript/changeFormBackground.js' %}"></script>
    <script src = "{% static 'javascript/isActive.js' %}"></script>
</body>
</html>