option[value=bg_1] {
    background-color: lightskyblue;
}

option[value=bg_2] {
    background-color: lawngreen;
}

option[value=bg_3] {
    background-color: plum;
}

option[value=bg_4] {
    background-color: blueviolet;
}
