option[value=bg_1] {
    background-color: #ffffff;
}

option[value=bg_2] {
    background-color: #ff0000;
}

option[value=bg_3] {
    background-color: #00b7ff;
}

option[value=bg_4] {
    background-color: #ffaa00;
}

option[value=bg_5] {
    background-color: orange;
}

option[value=bg_6] {
    background-color: darkorange;
}
