.navbar {
    display: flex;
    /* margin: 3% 20% 3%; */
    border-radius: 20px;
    background-color: lightcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    padding: 1%;
    justify-content: space-around;
    align-content: stretch;
    flex-flow: row wrap;
}

.admin {
    background-color: darkorange;
}

.brand-box {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: flex-end;
    align-content: center;
}

.brand-item {
    font-size: 1.7em;
    font-weight: 500;
    color: white;
    font-family: "Times New Roman";
    background: purple;
    padding: 3%;
    border-radius: 1%;
}

.brand-item:hover {
    color: antiquewhite;

}

.menu-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-grow: 6;
    align-content: center;
}

/*.dropdown {*/
/*    display: none;*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    justify-content: space-around;*/
/*    flex-grow: 6;*/
/*}*/

/*@media screen*/
/*    and (max-width: 960px){*/
/*    .menu-box {*/
/*        display: none;*/
/*        display: flex;*/
/*        flex-flow: row wrap;*/
/*        justify-content: space-around;*/
/*        flex-grow: 6;*/
/*    }*/
/*    .dropdown {*/
/*        display: block;*/
/*    }*/
/*    */
/*}*/

.user-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-grow: 3;
    align-content: center;
}

.box-item {
    font-variant: small-caps;
    color: black;
    /*!*margin: auto;*!*/
    /*border: 15px red;*/
    /*border-radius: 10px;*/
}

.brand-item:hover {
    color: blueviolet;
}

.box-item:hover {
    color: lightgreen;
}

.greeting {
    font-weight: bold;
}
