.navbar {
    display: flex;
    border-radius: 20px;
    background-color: lightcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    padding: 1%;
    justify-content: space-around;
    align-content: stretch;
    flex-flow: row wrap;
}

@media (max-width: 500px) {
    .navbar {
        flex-flow: column wrap;
        align-items: center;
    }
}

.admin {
    background-color: darkorange;
}

.brand-box {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-content: space-around;
}

/*@media (max-width: 500px) {*/

/*    .brand-box {*/
/*        flex-flow: column wrap;*/
/*    }*/

/*}*/

.brand-item {
    background: purple;
    color: white;
}

.brand-item:hover {
    background: rebeccapurple;
    color: white !important;
}

.menu-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex: 6 1 auto;
    align-content: center;
}

.user-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex: 3 1 auto;
    align-content: center;
}

.box-item {
    font-variant: small-caps;
    color: black;
}

.brand-item:hover {
    color: blueviolet;
}

.box-item:hover {
    color: lightgreen;
}

.greeting {
    font-weight: bold;
}
