.radio-station {
    display: flex;
    flex-flow: row wrap;
    margin: 1%;
}

.radio-logo {
    /*display: flex;*/
    max-height: 50px;
}

.radio-name {
    /*display: flex;*/
    font-family: serif;
    font-size: large;

}

.radio-player {
    display: flex;
}

.station-li {
    display: flex;
    flex-flow: row wrap;
    margin: 1%;
}