@import "navbar.css";
@import "radio.css";
@import "messages.css";
@import "bg_options.css";
@import "cookie.css";

/*#todo remove css from bulls and cows project*/
body {
    display: flex;
    margin: 0% 15% 0%;
    flex-direction: column;
    background-color: lightskyblue;
}

footer {
    font-style: italic;
    margin: auto;
    align-self: center;
}

hr {
    margin-left: auto;
    margin-right: auto;
}

/*form {*/
/*    !* display: flex; *!*/
/*    !* align-self: center; *!*/
/*    !* align-content: ; *!*/
/*    padding: 2%;*/
/*}*/

/*Bootstrap included don't overwrite main label, use class!*/
/*label {*/
/*    !* display: flex; *!*/
/*    !* flex-wrap: wrap; *!*/
/*    color: indigo;*/
/*    background-color: lightcoral;*/
/*    font-style: italic;*/
/*}*/

.title {
    font-weight: 500;
    font-size: 2em;
    color: green;
    align-self: center;
    padding: 1.5% 0%;

}

.body-content {
    display: flex;
    flex-wrap: wrap;

    margin: 0% 20% 0%;
    padding: 10px;
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}


.send-button {
    background: lightgreen;
    font-weight: bold;
    border-radius: 10px;
}

