.cookies_box {
    display: flex;
    margin: auto;
    padding-top: 5%;
}

.cookies_box-msg{
    font-style: italic;
    margin: auto;
}

.cookies_box-on {
    color: lime;
    margin: auto;
    font-weight: bold;
    text-shadow: 1px 1px 3px grey;
}

.cookies_box-off {
    color: red;
    margin: auto;
    font-weight: bold;
    text-shadow: 1px 1px 3px grey;
}