{% extends "common/base/base.html" %}
{% block content %}
    {% if stations %}
        <ul>
            {% for station in stations %}
            <div class="radio-station">
                <li class="station-li">
                    <img class="radio-logo" src="{{ station.logo.url }}" alt="radio logo"/>
                    <div class="radio-name">{{ station.name }}</div>

                    <audio id="innerAudio" controls preload="none" class="radio-player">
                        <source src="{{ station.url }}"/>
                    </audio>

                    <script type="text/javascript">
                    var stationUrl = "{{ station.url }}"
                    </script>
                    <button id="play_button">Play (TODO: )</button>
                    <a href="{% url 'radio details' station.pk station.slug %}" class="btn btn-lg btn-outline-primary">More</a>
                </li>
            </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}