{% extends "common/base/base.html" %}
{% block content %}
    {% if stations %}
        <ul class="radio-station">
            {% for station in stations %}
                <li class="station-li">
                    <div class="radio-logo"><img src="{{ station.logo.url }}" alt="radio logo"/></div>
                    <div class="font-weight-bold radio-name">{{ station.name }}</div>
                    <div class="player">
                        <audio id="innerAudio" controls preload="none" class="radio-player" controlsList="nodownload">
                            <source src="{{ station.url }}"/>
                        </audio>
                    </div>
{#                    <script type="text/javascript">#}
{#                    var stationUrl = "{{ station.url }}"#}
{#                    </script>#}
{#                    <button id="play_button">Play (TODO: )</button>#}
                    <a href="{% url 'radio details' station.pk station.slug %}" class="btn btn-lg btn-outline-primary">More</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}