{% extends "common/base/base.html" %}
{% block content %}
    {% load bootstrap4 %}
    {% if user.is_authenticated %}
        {% buttons %}
        <a class="btn btn-success btn-lg" href="{% url 'create playlist' %}">Create a Playlist</a>
        <a class="btn btn-primary btn-lg" href="{% url 'my profile' user.pk %}">My Profile</a>
        {% endbuttons %}
    {% endif %}

    {% if user.is_authenticated %}
        {% for plist in playlist_list %}
            {{ plist.list_name }}
            <ul>
{#                {% for staion in plist.radio_stations %}#}
{#                <li>{{ staion }}</li>#}
{#                {% endfor %}#}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}